# Notebook for testing purpose

In [1]:
from umbrella_portfolio_manager.umbrella_portfolio_manager.portfolio.stock import Stock

stock = Stock(ticker = "MSFT")

In [4]:
stock.ohlcv_history

,Open,High,Low,Close,Volume
Date,,,,,
2023-01-18 00:00:00-05:00,239.446842,240.249721,233.450013,233.737457,30028700
2023-01-19 00:00:00-05:00,231.725318,233.450030,228.652557,229.891571,28623000
2023-01-20 00:00:00-05:00,232.795827,238.624153,232.448897,238.108719,35389800
2023-01-23 00:00:00-05:00,238.980995,243.015216,237.543726,240.447983,31934000
2023-01-24 00:00:00-05:00,240.368683,241.805936,238.326791,239.912720,40234400
...,...,...,...,...,...
2024-01-11 00:00:00-05:00,386.000000,390.679993,380.380005,384.630005,27850800
2024-01-12 00:00:00-05:00,385.489990,388.679993,384.649994,388.470001,21645700
2024-01-16 00:00:00-05:00,393.660004,394.029999,387.619995,390.269989,27202300
2024-01-17 00:00:00-05:00,387.980011,390.109985,384.809998,389.470001,22214400
2024-01-18 00:00:00-05:00,391.720001,393.184998,390.709991,391.799988,10430206